@model List<ResultSocialMediaDTO>

@{
	ViewData["Title"] = "Sosyal Medya Hesapları";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Sosyal Medya Hesap İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Sosyal Medya Hesap Listesi</div>
					</div>
					<div class="card-body">
						@if (Model.Count() > 0)
						{
							<div class="card-sub">
								Sosyal Medya Hesapları ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
							</div>
							<table class="table table-hover table-bordered mt-3">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th>Sosyal Medya</th>
										<th scope="col">Durum</th>
										<th>Gösterilme Durumu</th>
										<th scope="col">Sil</th>
										<th scope="col">Güncelle</th>
										<th>Ana Sayfada</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<th>@count</th>
											<td>
												<i class="la la-@item.Icon la-4x"></i>
												<a href="@item.Url" target="_blank">  @item.Title</a>
											</td>
											<td>
												@{
													if (item.Status == true)
													{
														<button onclick="changeStatus(@item.SocialMediaID)" type="submit" class="btn btn-success">Aktif</button>
													}
													else
													{
														<button onclick="changeStatus(@item.SocialMediaID)" type="submit" class="btn btn-danger">Pasif</button>
													}
												}
											</td>
											<td>@(item.IsShown ? "Gösteriliyor" : "Gösterilmiyor") </td>
											<td>
												<button onclick="deleteSocialMedia(@item.SocialMediaID)" type="submit" class="btn btn-outline-danger"><i class="la la-trash"></i> Sil</button>
											</td>
											<td>
												<a href="/Admin/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-info"><i class="la la-pencil"></i> Güncelle</a>
											</td>
											<td>
												<a asp-action="ShowOnHome" asp-controller="SocialMedia" asp-area="Admin" asp-route-id="@item.SocialMediaID" class="btn btn-outline-success"> Göster</a>
												<a asp-action="DontShowOnHome" asp-controller="SocialMedia" asp-area="Admin" asp-route-id="@item.SocialMediaID" class="btn btn-outline-secondary"> Gösterme</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						}
						else
						{
							<p>Kayıtlı Herhangi Bir Sosyal Medya Hesap Verisi Bulunmamaktatır.</p>
						}
						<a href="/Admin/SocialMedia/CreateSocialMedia/" class="btn btn-outline-primary"><i class="la la-plus-circle"></i> Yeni Sosyal Medya</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function deleteSocialMedia(id) {
		Swal.fire({
			title: 'Silmek istediğinize emin misiniz?',
			text: 'Bu öğeyi silerseniz geri alamazsınız!',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sil',
			cancelButtonText: 'İptal'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/SocialMedia/DeleteSocialMedia?id=" + id;
			}
		});
	}
</script>

<script>
	function changeStatus(id) {
		Swal.fire({
			title: 'Durum',
			text: 'Durumu değiştirmek istediğinizden emin misiniz?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Değiştir',
			cancelButtonText: 'İptal'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/SocialMedia/ChangeStatus?id=" + id;
			}
		});
	}
</script>