@model ResultAboutDTO

@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container">
	<br />
	<h3>Hakkımızda Bilgisi İşlemleri</h3>
	<br />
	@if (ViewBag.flag == true)
	{
		<table class="table table-striped">
			<tr>
				<th>Görsel :</th>
				<td>
					<img src="@Model.ImageUrl" alt="Hakkımızda Görseli" style="width:100px; height:100px; border-radius:50%;" />
				</td>
			</tr>
			<tr>
				<th>Başlık :</th>
				<td>@Model.Title</td>
			</tr>
			<tr>
				<th>Açıklama :</th>
				<td>
					@if (string.IsNullOrEmpty(Model.Description) || Model.Description.Length <= 150)
					{
						@Model.Description
					}
					else
					{
						<a href="#" id="DescriptionBtn"
						   onclick="showDescription('@Html.Raw(Model.Description)', '@Model.AboutID'); return false;">
							@Model.Description.Substring(0, 153)...
						</a>
					}
				</td>
			</tr>
		</table>
		<br />
		<a href="/Admin/About/UpdateAbout/@Model.AboutID" class="btn btn-outline-success">Hakkımızda Bilgilerini Güncelle</a>
	}
	else
	{
		<p>Kayıtlı Herhangi Bir Hakkımızda Bilgisi Verisi Bulunmamaktatır.</p>
		<br />
		<a href="/Admin/About/CreateAbout/" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i> Yeni Hakkımızda Bilgisi Gir</a>
	}
</div>

<script>
	function showDescription(description, id) {
		Swal.fire({
			title: 'Açıklama',
			text: description,
			icon: 'info',
			showCancelButton: true,
			confirmButtonText: 'Güncelle',
			cancelButtonText: 'Tamam'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/About/UpdateAbout?id=" + id;
			}
		});
	}
</script>